[Desktop Entry]
Name=Unity Hub
Exec=/opt/unityhub/unityhub %U
Terminal=false
Type=Application
Icon=unityhub
StartupWMClass=unityhub
Comment=The Official Unity Hub
Categories=Development;
TryExec=/opt/unityhub/unityhub
MimeType=x-scheme-handler/unityhub;
